{% extends '_layout.html' %}


{% block title %}
    خرید به گا رفت
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="slider-area">
                    <div class="slider-height2 slider-bg5 d-flex align-items-center justify-content-center">
                        <div class="hero-caption hero-caption2">
                            <h2>خرید به گا رفت</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
